<div class="col-xs-8">
  <h3 class="header-title">Listado de Pulls Request</h3>
</div>
<div class="col-xs-4 text-right">
  <button class="btn btn-primary btn-sm" [routerLink]="['../crear-pulls-request']" style="margin-top: 20px;">
    <span class="glyphicon glyphicon-plus"></span>
    Crear pull request
  </button>
</div>


<hr>

<table class="table">
    <thead>
      <tr>
        <th scope="col"></th>        
        <th scope="col">Autor</th>
        <th scope="col">Titulo</th>
        <th scope="col">Descripción</th>
        <th scope="col">Estatus</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let p of listaPullRequest">
            <td>
                <a *ngIf="p.state == 'open'" class="btn btn-primary btn-sm" (click)="actualizaPullRequest(p.number)">
                    <span class="glyphicon glyphicon-remove-circle"></span>
                    cerrar
                </a>
            </td>      
            <td>
              <a *ngIf="p.state == 'open'" class="btn btn-primary btn-sm" (click)="mergePullRequest(p.number)">
                  <span class="glyphicon glyphicon-ok-circle"></span>
                  merge
              </a>
          </td>            
            <td>{{p.user.login}}</td>
            <td>{{p.title}}</td>
            <td>{{p.body}}</td>
            <td>{{p.state}}</td>
        </tr>
    </tbody>
</table>
<div class="row">
  <div class="col-xs-12 text-right">
      <a *ngIf="mostrarBotonAtras" class="a-boton" (click)="consultaPullsRequest(paginaAnterior)"><< Atras</a
          >&nbsp;
      <a *ngIf="mostrarBotonSiguiente" class="a-boton" (click)="consultaPullsRequest(paginaSiguiente)">Siguiente >></a>
  </div>
</div>


<div class="modal-notificaciones" *ngIf="muestraNotificacion">
    <h3>{{tipoNotificacion}}</h3>
    <p>{{msjNotificacion}}</p>
    <br>
    <a class="btn btn-primary btn-sm" (click)="muestraNotificacion = false">
      <span class="glyphicon glyphicon-ok"></span>
      Aceptar</a>
      <br>
      <br>
</div>



<div id="fondo_preloader"  *ngIf="muestraModalCargando">
  <div class="preloader" id="preloader">
  
  </div>
</div>