
<div class="container">
  <div class="row encabezado">
    <div class="col-xs-12 col-sm-8">
      <h1>TestFlat: Consulta información GitHub</h1>
    </div>
    <div class="col-xs-12 col-sm-4 form-repositorio-guthub">
      <hr>
      <form [formGroup]="formRepositorio">
        <p>Nombre usuario GitHub</p>      
        <input class="form-control" type="text" formControlName="nombreUsuarioGithub" (change)="cambiaUsuarioGitHub()" />
      </form>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
